{% extends 'polls/base.html' %}

{% block content %}
    <div class='container p-2'>
        <div class="row align-items-center">

            <!-- form detail-->
            <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
                <fieldset>
                    <!-- head question -->
                    <h1 class="mb-3 bd-text-purple-bright">{{ question.question_text }}</h1>
                    <p class="lead">{{ question.question_description }}</p>
                    
                    <!-- no selection error -->
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}

                    <!-- choices list -->
                    <ul class='list-group'>
                        {% for choice in question.choice_set.all %}
                            <li class="list-group-item list-group-item-warning">
                                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                            </li>
                        {% endfor %}
                    </ul>

                <!-- button vote -->
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success m-2">Vote!</button>
                </div>
                </fieldset>
            </form>

        </div>
    </div>
{% endblock %}